/* Add CSS Styling */
.class{
    background-color: pink;
}

.cooler{ 
    font-size: larger;
    font-weight: bold;
}

#id-1{
    color: blue;
    font-size: x-large;
    font-weight: bold;
}

#id-2{
    font-weight: bolder;
    background-color: green;
}